body{
    background-color: rgb(148, 148, 248);
}

main{
    width: 1000px;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    padding: 10px 20px 10px 20px;


}

img{
    width: 400px;
    height: 200px;
    gap: 5px;
    margin: auto;
}

hr{
    height: 2px;
    background-color: rgb(148, 148, 248);
}

h1, h2,h3, h4, h5, h6{
    color: rgb(148, 148, 248);
}